* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #222;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.header {
    background: #111;
    padding: 1rem 0;
}

.logo {
    color: #fff;
}

.nav, a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 7%;
    text-decoration: none;
}

.btn-primary {
    background: #c59d5f;
    border: none;
}

.hero {
    background: #333;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
}

.features {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.card {
    background: #f4f4f4;
    padding: 1rem;
    flex: 1;
    text-align: center;
}

.menu ul {
    margin-top: 1rem;
}

.gallery .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.gallery .img {
    background: #ccc;
    height: 150px;
}

.contact {
    background: #111;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #000;
    color: #fff;
}

/* MOBILE */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .gallery .grid {
        grid-template-columns: 1fr;
    }
}